/* Critical path */
* {
  box-sizing: border-box;
}

body {    
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'quero_sansregular', sans-serif;
  font-size: 30px;
}

html, 
body {
  min-height: 100vh;
}

.banner > div {
  min-height: 500px;
}

.title {
  font-size: 3em;
  margin-bottom: 40px;
  font-weight: normal;
}

.banner .title span {
  background-color: #53ee4d;
  border-radius: 10px;
  padding: 5px 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Gotham Rounded', sans-serif;
  font-weight: 800;
}

#__next {
  flex: 1;
  display: flex;
}

.container {
  width: 100%;
}

strong {    
  font-family: "quero_sansbold", sans-serif;
}

.cursor__ball {
  transform: scale(0);
}

.down {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  overflow: hidden;
  animation: 1s cubic-bezier(0.33, 1, 0.68, 1) 0s infinite alternate none running arrowDown;
  font-size: 0.5em;
  transition: all 1s ease 0s;
  opacity: 1;
}

.sm {
  font-size: 1em;
}

.md {
  font-size: 2em;
}

.bg {
  font-size: 3em;
}

.hg {
  font-size: 5em;
}


.banner {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 800px;
  margin: auto;
  text-align: center;
  color: #2d3142;
  -webkit-box-pack: center;
  justify-content: center;
}

.topbar .fabioalencar {
  opacity: 1;
  font-size: 0.8em;
  padding-top: 3px;
  text-decoration: none;
  font-weight: normal;
  color: #2d3142;
  transition: all 0.3s ease-in-out 0s;
}

.header nav {
  display: none;
  position: fixed;
  top: 100px;
  left: 150px;
  z-index: 3;
}

.topbar {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px;
  padding: 20px;
  background-color: transparent;
  transition: all 0.3s ease-in-out 0s;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
}

.topbar .button button i:nth-child(2) {
  display: none;
}

.topbar .button button {
  cursor: pointer;
  z-index: 4;
  position: absolute;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease-in-out 0s;
}

.topbar .social-media {
  margin: 0;
  padding: 0;
  width: 120px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  display: flex;
}

.topbar .social-media li {
  display: inline;
}

.topbar .social-media li a {
  padding: 5px;
  text-decoration: none;
  color: #2D3142;
  transition: all 0.3s ease 0s;
}

@media (max-width: 768px) {

  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 2.2rem;
  }

}

@media (max-width: 540px) {

  .banner > div {
    min-height: 442px;
  }

  .banner {
    padding: 50px;
    overflow: hidden;
    height: 100vh;
    text-align: left;
  }

  .title {
    font-size: 3.8rem;
  }
  
  h1 span {
    background-color: #53ee4d;
    border-radius: 10px;
    padding: 5px 10px;
  }
  
  .title span {   
    padding: 2px 5px;
  }
  
  .subtitle {
    font-size: 1.8rem;
    text-align: left;
    min-height: 160px;
  }

  .Typewritter {
    min-height: 160px;
  }

  .ctas {
    margin-top: 40px;
  }

  .down {
    font-size: 0.3em;
    right: 15px;
  }

  .hideMobile {
    display: none !important;
  }

}

@media (max-width: 375px) {

  .title {
    font-size: 3.4rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

}

@media (max-width: 360px) {

  .title {
    font-size: 2.7rem;
  }
  
  .subtitle {
    font-size: 1.3rem;
  }

}